[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = "*"
pytest = "*"
jupyter = "*"
ipython = "*"

[packages]
numpy = "*"
sobol-seq = "*"
pydoe = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
direct = "*"
bopy = {editable = true,path = "."}
gpy = "*"

[requires]
python_version = "3.7"
